name: CI
on:
    - push
    - pull_request

jobs:
    tests:
        strategy:
            matrix:
                node:
                    - 22.13.0

        runs-on: ubuntu-24.04
        name: Node.js ${{ matrix.node }}
        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js ${{ matrix.node }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}
            - uses: actions/cache@v4
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: Install
              run: |
                  yarn

            - name: Tests
              run: |
                  yarn format-check

            - name: Test Build docs
              run: |
                  yarn docs
